.some {
    color:red
}

/* p{
    color: green;
} */

.postsWrapper p{
    color: green;
}

/* .postsWrapper :global(p){
    color: green;
} */


.left, .right{
    background-color: grey;
    height: 100px;
}

.layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}