*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: var(--font-geist-sans, sans-serif); /* Убедитесь, что шрифт задан */
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}